body {
    font-size: 2em;
    font-family: "Courier New", monospace;
    white-space: pre; 
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
@-moz-document url-prefix() {
    html{
        scrollbar-width: none;
    }
}
body::-webkit-scrollbar {
    display: none;
}

#header {
    line-height: .4;
    width: 100%;
    text-align: center;
}

#title {
    font-size: 170%;
    line-height: .1;
    padding-top: 3%;
}

#subtitle {
    opacity: 70%;
    font-size: 50%;
    letter-spacing: .3ch;
}

#menu {
    padding-top:1%;
    font-size:65%;
    word-spacing:3ch
}

#text {
    text-align: justify;
    font-size:65%;
    margin:0 30px;

}

@media only screen and (min-width: 768px) {
    #header {
        line-height: .6;
        width: 100%;
        text-align: center;
    }
    
    #title {
        font-size: 300%;
        line-height: .1;
        padding-top: 3%;
    }
    
    #subtitle {
        font-size: 65%;
        letter-spacing: .5ch;
    }
    
    #menu {
        padding-top:0%;
        font-size:80%;
        word-spacing:4ch
    }
    
    #text {
        padding-top: 2%;
        text-align: justify;
        margin:0 200px;
        font-size:80%
    }
}


.small {
    font-variant: small-caps;
}

/* palimpsest */
.palimp-bottom { 
    position:absolute; 
    opacity:.2; 
    z-index:1; 
}
.palimp-top { 
    z-index:2; 
}


/* draggable text style */
.drag {
    position: absolute; 
    display: inline;
} 

/* click expansion */
div.exp {
    display: inline;
}
input[type=checkbox] {
    display: none;
}
.click-expand {
    display: none;
}
.click-expandable:checked ~ .click-expand {
    display: inline;
}
/* Not just click expand: make general click and hover changes */


/* hover expansion */
.hover-expand {display: none;}
.hover-expandable:hover + .hover-expand {display: inline;}

/* links disguised as plain text */
a.hidden {
    color: black;
    text-decoration: none;
    cursor: text;
}

[contenteditable] {outline: 0px solid transparent;}
